#clock{
    
    color:#f7ab26;
    font-size: 40px;
    text-align:center;
    border: 1px #f7ab26 double;
}
#clock2{
    
    background-color:#f7ab26;
    color:#0a0a0a;
    padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
    font-size: 40px;
    text-align:center;
    
}
#day{
    
    
    font-size: 40px;
    text-align:center;
    background-color:#f7ab26;
    color:#0a0a0a;
    padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
}

#clockdiv{
  
padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 20px;

}
