.linksA{
   
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-right: 50px;
}
.linkt{
    color: #f7ab26;
    font-size: 40px;
}
.navigation {
    width: 350px;
    margin-top: 1px;
   
  }
  
  /* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
   
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    margin-top: 0px;
    text-decoration: none;
    padding: 10px;
    background-color:#f7ab26;
    color:#0a0a0a;
  
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 10px;
  }
  
  /* add hover behaviour */
  .mainmenu a:hover {
    background-color:#2a2a28;
    color:#f7ab26;
   
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
    
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
    background-color:#2a2a28;
  color:#f7ab26;
  }
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color:#000000;
    color:#f7ab26;;
    
  }
  
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
   
    
  }

