#buttons2 li {
    float: left;
    list-style: none;
    text-align: center;
    background-color:#f7ab26;
    color:#0a0a0a;
    width: 100px;
    margin-right: 10px;
    font-weight: bolder;

  }
  #buttons2 li a {
    text-decoration: none;
    background-color:#f7ab26;
    color:#0a0a0a;
    display: block;
  }
  
  #buttons2 li a:hover {
    text-decoration: none;
    color: #f7ab26;;
    background-color: #0a0a0a;
  }
  