body {
    
    background-color:#0a0a0a;
    font-family: 'Roboto', sans-serif;
   
  }

h1{
    color:FFFFFF ;
    font-size: 45;
}
h2{
    color:FFFFFF ;
    font-size: 30;
}
i{
    color:EE9909 ;
}
/* #thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}
 */
 #canvas {
   size: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
  }
  .voice{
    height: 80px;
    width: 500px;
  }
  
  #clock {
    margin-top: 20px;
    font-size: 50px;
    color:EE9909 ;
    text-align: center;
 
}